{% extends 'base/base_logeado.html' %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
      <ol class="breadcrumb">
          <li><a href="#">
                  <em class="fa fa-home"></em>
              </a></li>
          <li class="active">Contrato</li>
      </ol>
  </div>
  <!--/.row-->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Listado de contratos</h1>
      </div>
  </div>
  <!--/.row-->
  <div class="panel panel-default">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab1">
                    <table class="table table-bordered">
    
                        <tr class="table-active">
                          
                              <td>ID Contrato</td>
                          
                              <td>Rut </td>
                          
                              <td>Fecha Inicio</td>
                    
                              <td>Fecha Termino</td>
                    
                              <td>Estado</td>
                    
                    
                            </tr>
                            
                            {% for c in cont %} 
                          
                            <tr>
                          
                                <td>{{ c.id_contrat }}</td>
                            
                                <td>{{ c.rut_person }}</td>
                        
                                <td>{{ c.emision_contrat }}</td>
                      
                                <td>{{ c.fin_contrat }}</td>
                    
                                <td>{{ c.estado }}</td>
                                  
                    
                              </tr>
                            
                            {% endfor %}
                    
                           
                          </table>
         



{% endblock %}